{{> header}}

  <h1>Este pagina esta {{ heading }}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, sequi!</p>
  <p>Tienes algien {{ items }} para comprar?</p>

  <a href="/text">Continuar la pagina proxima</a>
  <a href="/">Go to home</a>

  {{> footer}}
  
</body>

</html>