{{> header}}

<h1>This page is {{makeLettersBig heading }}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, sequi!</p>
<p>Do you have any {{ items }} to buy?</p>

<a href="/home">Go to Text Page</a>
  <a href="/">Go to home</a>

{{> footer}}

</body>

</html>